BINANCE_API_URL=https://testnet.binance.vision
BINANCE_API_KEY=COLOQUE_SUA_API_KEY
BINANCE_SECRET_KEY=COLOQUE_SUA_SECRET_KEY
BOT_SYMBOL=BTCUSDT
BOT_QUANTITY=0.001
BOT_INTERVAL_MS=30000
BOT_TIMEFRAME=15m
BOT_SMA_PERIOD=20
DRY_RUN=true
LOG_TO_FILE=true
FORCE_SIGNAL=NONE
FORCE_SIGNAL_ONCE=true
